<footer id="footer" class="{% if page.style.stickyfooter %}sticky{% endif %}" {% if page.style.footer_color %}style="background:{{ page.style.footer_color }};"{% endif %}>
  <a name="connect"></a>
  <div class="container">
    <div class="subfooter">
      {% include footer-nav.html %}
      <span>Event Site by <a href="https://bowtie.io">⋈ BowTie</a></span>
    </div>
    {% include scroll-top-btn.html %}
  </div>
</footer>

<script type="text/javascript" src="https://bowtie.io/assets/bowtie.js"></script>
<script type="text/javascript" src="/bowtie/api/users/info.js"></script>
<script type="text/javascript" src="/js/flash.js"></script>
<script type="text/javascript" src="/js/authentication.js"></script>
<script type="text/javascript" src="/js/theme.js"></script>
