{% capture header %}

{% if page.seo.title %}
<title>{{ page.seo.title }} - {{ site.title }}</title>
{% elsif page.title %}
<title>{{ page.title }} - {{ site.title }}</title>
{% else %}
<title>{{ page.name }} - {{ site.title }}</title>
{% endif %}

{% if page.seo.description %}
<meta name="description" content="{{ page.seo.description }}">
{% elsif page.description %}
<meta name="description" content="{{ page.description }}">
{% endif %}

<meta property="og:locale" content="en_US">

{% if page.title %}
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.social.title %}{{ page.social.title }}{% else %}{{ page.title }}{% endif %}">
{% else %}
<meta property="og:type" content="website">
{% endif %}

{% if site.title %}
<meta property="og:site_name" content="{{ site.title }}">
{% endif %}

{% if page.social.description %}
<meta property="og:description" content="{{ page.social.description }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if page.url %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% endif %}

{% if page.date %}
<meta property="article:published_time" content="{{page.date | date_to_xmlschema}}">
{% endif %}

{% if site.author %}
<meta name="author" content="{{ site.author }}">
<meta property="article:author" content="{{ '/about/' | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

{% if page.social.img_path %}
<meta property="og:image" content="{{ page.social.img_path | prepend: site.baseurl | prepend: site.url }}">
{% endif %}

{% if page.seo.noindex %}
<meta name="robots" content="noindex, nofollow">
{% endif %}

<link rel="canonical" href="{% if page.seo.canonical %}{{ page.seo.canonical }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" />

{% endcapture %}{{ header | strip_newlines }}
