<div id="footer" class="container simple-footer subfooter">
  <a href="{{site.url}}">©2016 {{site.theme.contact.company}}</a>  &nbsp; | &nbsp; Made with <a href="https://bowtie.io">⋈ BowTie</a>.
</div>

<script type="text/javascript" src="https://bowtie.io/assets/bowtie.js"></script>
<script type="text/javascript" src="/bowtie/api/users/info.js"></script>
<script type="text/javascript" src="/js/flash.js"></script>
<script type="text/javascript" src="/js/authentication.js"></script>
<script type="text/javascript" src="/js/theme.js"></script>
