<ul class="post-list text-left">
  {% for post in site.posts %}
    {% if post.author %}
      {% assign author = site.authors | where:"name", post.author | first %}
    {% endif %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {{ post.excerpt }}
      {% include post-meta.html %}
    </li>
    <hr>
  {% endfor %}
</ul>
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
</p>
