<div class="row-90 text-center">
  <span class="row">
  {% for member in site.speakers %}
  {% capture thecycle %}{% cycle 'speakers' :  '1', '2', '3' %}{% endcapture %}
  {% if thecycle == '1' and forloop.first == false %}</span>
    <span class="row">{% endif %}
  <column class="col-sm-4">
    <img class="img-circle img profilepic" src="{% if member.avatar_path %}{{member.avatar_path}}{% else %}{{member.gravatar}}{% endif %}">
    <h4 class="name">{{member.name}}</h4>
    {% if member.company %}<p>{{member.company}} | {% if member.jobTitle %}{{member.jobTitle}}{% endif %}</p>{% endif %}
    {% if member.bio %}<p class="area small">{{member.bio}}</p>{% endif %}
    <div class="row social-media">
      {% if member.linkedin %}<a href="//linkedin.com/{{member.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>{% endif %}
      {% if member.facebook %}<a href="//facebook.com/{{member.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>{% endif %}
      {% if member.twitter %}<a href="//twitter.com/{{member.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>{% endif %}
      {% if member.email %}<a mailto:="{{member.email}}" target="_blank" class="email"><i class="fa fa-envelope-o"></i></a>{% endif %}
    </div>
  </column>
  {% endfor %}
  </span>
</div>
