---
layout: blog
---
{% if page.author %}
  {% assign author = site.authors | where:"name", page.author | first %}
{% endif %}

 <div class="post">
  <article class="post-content blog-post-content">
    {{ content }}
  </article>
  <div class="post-metadata">
    {% if author %}
    by <a href="//twitter.com/{{ author.twitter }}">{{ author.displayName }}</a>
    {% endif %}
    {{ page.date | date: "%b %-d, %Y" }}
    {% if page.categories %}
    <span class="category-list">&nbsp;|&nbsp; Categories: {% include category-list.html %}</span>
    {% endif %}
  </div>
  <br />

  {% if page.elsewhere.name %}
  <h6 class="elsewhere">Reposted from:<a href="{{page.elsewhere.url}}">{{ page.elsewhere.name }}</a></h6>
  {% endif %}

  {% if page.share %}
    {% include addthis.html %}
  {% endif %}

  {% if page.comments %}
     {% include disqus.html %}
  {% endif %}

  {% include breadcrumb.html %}

</div>
